.section {
    padding: 2rem 2rem;
    background-color: #ffffff;
    text-align: center;
  }
  
  .text {
    max-width: 1400px;
    margin: 0 auto 3rem;
  
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: #222222bb;
    }
  
    p {
      font-size: 1.1rem;
      color: #555;
      line-height: 1.6;
    }
  }
  
  .imageWrapper {
    display: flex;
    justify-content: center;
  
    img {
      max-width: 100%;
      height: auto;
      border-radius: 1rem;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    }
  }

  @media screen and (max-width:800px) {
    .text {
      h2 {
        font-size: 1.8rem;
        text-align: left;
        font-weight: 700;
        margin-bottom: 1rem;
        color: #222222bb;
      }
    
      p {
        font-size: 1rem;
        text-align: left;
        color: #555;
        line-height: 1.6;
      }
    }
  }

  
  