.header {
  position: relative;
  background: linear-gradient(180deg, #00d17d 0%, #66ff75 75%, #ffffff 87%);
  padding-top: 20px;
  color: white;
  overflow: hidden;
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;

  .left {
    flex: 1;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    max-width: 1000px;
    font-weight: 500;
  }

  p {
    font-size: 0.9rem;
    margin: 20 auto;
    text-align: center;
  }

  .ctaMobile {
    display: none;
  }

  .cta {
    background-color: white;
    color: #222;
    font-weight: 600;
    padding: 0.8rem 1.8rem;
    min-width: 300px;
    border-radius: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #f2f2f2;
      transform: translateY(-5px);
    }
  }

  .ctaText {
    margin-top: 0;
    padding-top: 0;
  }
}


.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }

  .overlay {
    position: absolute;
    right: 5%;
    border: 2px solid rgba(128, 128, 128, 0.205);
    bottom: -50px;
    width: auto;
    height: auto;
    max-width: 300px;
    border-radius: 1rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 1024px) {

  .header {
    background: linear-gradient(165deg, #00d17d 0%, #66ff75 65%);
  }
  .imageWrapper {
    .overlay {
      max-width:25%;
    }
  }
}

@media screen and (max-width: 800px) {

  .header {
    height: 100vh;
    position: relative;
    background: linear-gradient(180deg, #00d17d 0%, #66ff75 85%, #ffffff 97%);
  }
  .content {
    padding: 20px;
  
    .cta {
      display: none; // on cache la version classique
    }

    .phoneImageWrapper {
      display: none;
      justify-content: center;
      margin: 0 auto;
    
      @media screen and (max-width: 800px) {
        display: flex;
      }
    }
    
    .phoneImage {
      max-width: 100%;
      height: auto;
      
      
    }
    
  
    .ctaMobileContainer {
      position: absolute; // au lieu de fixed !
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 100%;
      padding: 0 1rem;
    }
  
    .ctaMobile {
      background-color: white;
      color: #222;
      font-weight: 600;
      padding: 0.9rem 2rem;
      border-radius: 200px;
      text-decoration: none;
      display: inline-block;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.2s;
  
      &:hover {
        background-color: #f2f2f2;
        transform: translateY(-3px);
      }
    }
  
    .ctaText {
      font-size: 0.9rem;
      color: #222;
      margin-top: 0.5rem;
    }
  }

  
}

@media screen and (max-width: 650px) {
  .header {
    height: 65vh;
  }

  .content {
    h1 {
      font-size: 2.2rem;
    }
  }

  .imageWrapper {
    img {
      display: none;
    }
    
  }
}

@media screen and (max-width: 500px) {


  .content {
    h1 {
      font-size: 2rem;
      text-align: left;
    }

    h2 {
      font-size: 0.9rem;
      text-align: left;
      margin-bottom: 2rem;
      max-width: 1000px;
      font-weight: 500;
    }

    p {
      font-size: 0.9rem;
    }
  }
}
