.section {
  padding: 5rem 2rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #222;
  }

  p {
    font-size: 1.1rem;
    color: #555;
    max-width: 1000px;
    margin: 0 auto 3rem;
  }
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px;


  .step {
    background: none;
    border-radius: 0.75rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: 500;
    box-shadow: 0 4 10 rgba(0, 0, 0, 0.11);
    text-align: left;

    h3 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: #333;
    }

    p {
      font-size: 0.95rem;
      color: #444;
      margin: 0;
    }

    &:hover {
      background: linear-gradient(to bottom right, #66ff753d, #00d17d42);
    }

    &.active {
      background: linear-gradient(to bottom right, #66ff753d, #00d17d42);
    }
  }
}


.imageWrapper {
  max-width: 500px;

  img {
    width: 100%;
    border-radius: 0.75rem;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
  }
}

// Responsive
@media screen and (max-width: 850px) {
  .contentWrapper {
    flex-direction: column;
    align-items: center;
  }

  .steps {
    width: 100%;
    .step {
      text-align: center;
    }
  }

  .imageWrapper {
    width: 100%;
  }
}


// Responsive : affichage toujours visible et réduit
@media screen and (max-width: 850px) {
  .section {
    padding: 5rem 2rem;
    text-align: center;
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #222;
    }
  
    p {
      font-size: 0.9rem;
      color: #555;
      max-width: 800px;
      margin: 0 auto 3rem;
    }
  }

  .steps {
    .step {
      text-align: left;
      h3 {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        color: #333;
      }
  
      p {
        font-size: 0.8rem;
        color: #444;
        margin: 0;
      }
  
      &:hover {
        background: linear-gradient(to bottom right, #66ff753d, #00d17d42);
      }
  
      &.active {
        background: linear-gradient(to bottom right, #66ff753d, #00d17d42);
      }
    }
  }

  .imageWrapper {
    display: none;
  }
}

