.section {
    padding: 5rem 2rem;
    text-align: center;
    background: none;
    max-width: 1000px;
    margin:0 auto;
  }
  
  .title {
    margin-bottom: 3rem;
  
    h2 {
      font-size: 2rem;
      color: #222;
      margin-bottom: 0.5rem;
    }
  
    p {
      color: #555;
      font-size: 1.1rem;
    }
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
  
  .features {
    list-style: disc;
    text-align: left;
    padding-left: 1.5rem;
  
    li {
      margin-bottom: 0.8rem;
      font-size: 1rem;
      color: #444;
    }
  }
  
  .priceBox {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
    min-width: 260px;
  
    .price {
      font-size: 1.8rem;
      font-weight: 700;
      color: #00b976;
    }
  
    .subPrice {
      margin-top: 0.5rem;
      font-size: 1rem;
      color: #777;
    }
  }
  
  .cta {
    margin-top: 2rem;
  
    p {
      margin: 0.3rem 0;
      font-size: 1rem;
      color: #444;
    }
  
    button {
      margin-top: 1rem;
      background: linear-gradient(to bottom right, #66ff753d, #00d17d42);
      color: #22222295;
      font-weight: 500;
      border: none;
      padding: 0.8rem 2rem;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  .clinicOffer {
    padding: 2.5rem;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin-top: 3rem;
    background: white;
    text-align: left;
  
    .clinicTitle {
      font-weight: 700;
      font-size: 1.8rem;
      color: #111;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  
    .clinicContent {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 40px;
    }
  
    .clinicText,
    .clinicContact {
      flex: 1;
      min-width: 280px;
      text-align: justify;
  
      p {
        font-size: 1rem;
        color: #444;
        margin-bottom: 1rem;
        line-height: 1.6;
      }
  
      a {
        color: #00b976;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .clinicButton {
      margin-top: 1rem;
      background: linear-gradient(to bottom right, #66ff753d, #00d17d42);
      color: #22222295;
      font-weight: 500;
      border: none;
      padding: 0.8rem 2rem;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  .secondTrialButton {
      background: none;
      color: #22222295;
      font-weight: 500;
      border: 2px solid #00d17d67;
      padding: 0.8rem 2rem;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;
  
      &:hover {
        transform: translateY(-5px);
        background: linear-gradient(to bottom right, #66ff753d, #00d17d42);
      }
  }
  
  

  