.useCases {
    max-width: 1200px;
    margin: 0 auto;
  padding-bottom: 50px;

    text-align: center;
  
    h2 {
      font-size: 2rem;
      color: #222;
      margin-bottom: 0.5rem;
    }
  
    p {
      font-size: 1.1rem;
      color: #555;
      margin-bottom: 2.5rem;
    }
  }
  
  .cards {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .card {
    width: 450px;
    aspect-ratio: 2/3; // ✅ adapte automatiquement la hauteur en fonction de la largeur
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    background: none;
    box-shadow: 0 10 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  
    .image {
      width: 100%;
      height: 100%;
      position: relative;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
  
      .description {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30%;
        background: rgba(255, 255, 255, 0.877);
        padding: 10px;
        backdrop-filter: blur(4px);
        color: #000;

        h4 {
          font-size: 1.3rem;
          margin-bottom: 20px;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
  
  
  
  @media screen and (max-width: 768px) {
    .useCases {
        h2 {
            font-size: 1.8rem;
        }

        p {
            font-size: 1rem;
        }
    }


    .cards {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 90%;
      aspect-ratio: 3/4; // un ratio un peu plus vertical pour mobile
    }
  
    .image .description {
      padding: 1rem;
  
      h4 {
        font-size: 1.2rem;
      }
  
      p {
        font-size: 0.95rem;
      }
    }
  }
  

  @media screen and (max-width: 500px) {
    .useCases {
        h2 {
            font-size: 1.8rem;
            padding: 20px;
        }

        p {
            font-size: 1rem;
            padding: 20px;
        }
    }


    .cards {
      flex-direction: column;
      align-items: center;
    }

    .card {
      .image {
        width: 100%;
        height: 100%;
        position: relative;
    
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
    
        .description {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 30%;
          background: rgba(255, 255, 255, 0.877);
          padding: 0;
          backdrop-filter: blur(4px);
          color: #000;
  
          h4 {
            font-size: 1rem;
            margin-bottom:05px;
          }
  
          p {
            font-size: 0.85rem;
          }
        }
      }
    }
  }
  